openapi: 3.0.1
info:
  title: ThreeDays
  version: 1.0.1
servers:
- url: https://api.jjaksim.com
- url: http://localhost:8080
tags:
- name: Habit
  description: 습관
- name: Member
  description: 회원
- name: HabitAchievement
  description: 습관 성취
- name: Mate
  description: 짝꿍
- name: Record
  description: 기록
- name: Client
  description: 사용자의 단말 정보
- name: Notification
  description: 알림
paths:
  /api/v1/clients:
    post:
      tags:
      - Client
      summary: 클라이언트 정보 추가시 사용하는 API. fcm-token 추가 등록/갱신 시 해당 API 사용
      description: 클라이언트 정보 추가시 사용하는 API. fcm-token 추가 등록/갱신 시 해당 API 사용
      operationId: postClients
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveClientRequest'
            examples:
              postClients:
                value: "{\"fcmToken\":\"fcmToken here\",\"identificationKey\":\"identificationKey\
                  \ here\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                postClients:
                  value: "{\"data\":{\"id\":1,\"memberId\":1,\"identificationKey\"\
                    :\"identificationKey\",\"fcmToken\":\"fcmToken\"},\"message\"\
                    :\"성공\",\"code\":\"success\"}"
  /api/v1/habits:
    get:
      tags:
      - Habit
      summary: 모든 습관 목록을 가져오는 API
      description: 모든 habit list를 반환한다.
      operationId: browseMultipleHabits
      parameters:
      - name: status
        in: query
        description: 조회하고자 하는 습관의 상태
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HabitOverview'
              examples:
                browseMultipleHabits:
                  value: "{\"data\":[{\"id\":0,\"memberId\":0,\"title\":\"물무\",\"\
                    imojiPath\":\"\\uD83D\\uDE00\",\"dayOfWeeks\":[\"MONDAY\",\"TUESDAY\"\
                    ,\"FRIDAY\"],\"reward\":0,\"color\":\"GREEN\",\"status\":\"ACTIVE\"\
                    ,\"createAt\":\"2023-01-13T10:02:57.179944\",\"archiveAt\":\"\
                    2023-01-13T10:02:57.17995\",\"totalAchievementCount\":0,\"todayHabitAchievementId\"\
                    :0,\"sequence\":0,\"mate\":{\"id\":0,\"habitId\":0,\"memberId\"\
                    :0,\"title\":\"짝꿍이\",\"createAt\":\"2023-01-13T10:02:57.17998\"\
                    ,\"level\":0,\"reward\":0,\"rewardHistory\":[{\"createAt\":\"\
                    2023-01-13T10:02:57.179968\"}],\"levelUpAt\":\"2023-01-13T10:02:57.179984\"\
                    ,\"characterType\":\"CARROT\",\"levelUpSection\":[1,4,8,14,22],\"\
                    bubble\":\"5252! 믿고 있었다구~ 오늘도 파이팅\",\"status\":\"ACTIVE\",\"deleted\"\
                    :false}}],\"message\":\"성공\",\"code\":\"success\"}"
    post:
      tags:
      - Habit
      summary: 습관 생성시 사용되는 API
      description: 습관 생성시 사용되는 API
      operationId: saveHabit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveHabitRequest'
            examples:
              saveHabit:
                value: "{\"title\":\"물마셔..\",\"imojiPath\":\"\U0001f600\",\"color\"\
                  :\"GREEN\",\"dayOfWeeks\":[\"MONDAY\",\"TUESDAY\",\"FRIDAY\"],\"\
                  notification\":{\"notificationTime\":\"10:02:56.443557\",\"contents\"\
                  :\"알림짝짝\"}}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HabitResponse'
              examples:
                saveHabit:
                  value: "{\"data\":{\"id\":0,\"memberId\":0,\"title\":\"물마셔...\"\
                    ,\"imojiPath\":\"\\uD83D\\uDE00\",\"color\":\"GREEN\",\"dayOfWeeks\"\
                    :[\"MONDAY\",\"TUESDAY\",\"FRIDAY\"],\"reward\":1,\"sequence\"\
                    :0,\"status\":\"ACTIVE\",\"totalAchievementCount\":0,\"todayHabitAchievementId\"\
                    :0,\"createAt\":\"2023-01-13T10:02:54.302737\",\"archiveAt\":\"\
                    2023-01-13T10:02:54.30274\",\"mate\":{\"id\":0,\"habitId\":0,\"\
                    memberId\":0,\"title\":\"짝꿍이\",\"createAt\":\"2023-01-13T10:02:54.302665\"\
                    ,\"level\":0,\"reward\":0,\"levelUpAt\":\"2023-01-13T10:02:54.302689\"\
                    ,\"characterType\":\"CARROT\",\"levelUpSection\":[1,4,8,14,22],\"\
                    bubble\":\"5252! 믿고 있었다구~ 오늘도 파이팅\",\"status\":\"ACTIVE\",\"rewardHistory\"\
                    :[{\"createAt\":\"2023-01-13T10:02:54.302682\"}]},\"notification\"\
                    :{\"notificationTime\":\"10:02:54.302706\",\"contents\":\"물마셔어\
                    어어어억\"}},\"message\":\"새로 생성되었습니다.\",\"code\":\"resource.created\"\
                    }"
  /api/v1/mates:
    get:
      tags:
      - Mate
      summary: 모든 짝꿍 간편 조회
      description: 모든 짝꿍 간편 조회
      operationId: checkMate
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MateResponse'
              examples:
                checkMate:
                  value: "{\"data\":[{\"id\":0,\"habitId\":0,\"memberId\":0,\"title\"\
                    :\"짝꿍이\",\"createAt\":\"2023-01-13T10:02:57.651641\",\"level\"\
                    :0,\"reward\":0,\"levelUpAt\":\"2023-01-13T10:02:57.651877\",\"\
                    characterType\":\"CARROT\",\"levelUpSection\":[1,4,8,14,22],\"\
                    bubble\":\"5252! 믿고 있었다구~ 오늘도 파이팅\",\"status\":\"ACTIVE\",\"rewardHistory\"\
                    :[{\"createAt\":\"2023-01-13T10:02:57.651856\"}]}],\"message\"\
                    :\"성공\",\"code\":\"success\"}"
  /api/v1/members:
    post:
      tags:
      - Member
      summary: 멤버 추가
      description: 멤버 추가
      operationId: saveMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignMemberRequest'
            examples:
              saveMember:
                value: "{\"certificationSubject\":\"KAKAO\",\"socialToken\":\"social\
                  \ token\"}"
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              examples:
                saveMember:
                  value: "{\"data\":{\"id\":0,\"name\":\"admin\",\"resource\":\"{}\"\
                    ,\"notificationConsent\":true,\"certificationSubject\":\"KAKAO\"\
                    ,\"token\":{\"accessToken\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtZW1iZXJJZCI6MSwiaWF0IjoxNjY5Nzc4NjQwLCJleHAiOjE2NzAwNTEwNzN9.qRYwNldwTJCBdcRa13zm9At-NKTnqM6K8FQzsnUHcPY\"\
                    ,\"refreshToken\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzM4NCJ9.eyJtZW1iZXJJZCI6MSwiaWF0IjoxNjcwNTc4MzAzLCJleHAiOjE2NzI3MjU3ODZ9._eQlJYPHHaruePkVFvA6vD8zy2qj9dNLjtI0rCCQ5jLBia5Xiz5QouSRdtawHkUF\"\
                    }},\"message\":\"새로 생성되었습니다.\",\"code\":\"resource.created\"}"
    delete:
      tags:
      - Member
      summary: 회원 탈퇴
      description: 회원 탈퇴
      operationId: deleteMember
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-habits-id486549215'
              examples:
                deleteMember:
                  value: "{\"data\":null,\"message\":\"삭제되었습니다.\",\"code\":\"resource.deleted\"\
                    }"
  /api/v1/notifications:
    get:
      tags:
      - Notification
      summary: 알림 이력 조회 API
      description: 알림 이력 조회 API
      operationId: browseNotificationHistory
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHistoryResponse'
              examples:
                browseNotificationHistory:
                  value: "{\"data\":[{\"id\":0,\"memberId\":0,\"notificationId\":0,\"\
                    title\":\"title\",\"contents\":\"contents\",\"status\":\"SUCCESS\"\
                    ,\"type\":\"HABIT\",\"createAt\":\"2023-01-13T10:03:05.892469\"\
                    }],\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/records:
    get:
      tags:
      - Record
      summary: 전체 기록 조회 API
      description: 전체 기록 조회 API
      operationId: readRecords
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api-v1-habits-id486549215'
            examples:
              readRecords:
                value: "{\"datePeriod\":{\"from\":null,\"to\":null}}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordResponse'
              examples:
                readRecords:
                  value: "{\"data\":{\"rewardCount\":3,\"achievementCount\":9,\"frequentHabit\"\
                    :{\"id\":0,\"memberId\":0,\"title\":\"물을 마시쟈\",\"imojiPath\":\"\
                    \\uD83D\\uDE00\",\"color\":\"GREEN\",\"dayOfWeeks\":[\"MONDAY\"\
                    ,\"TUESDAY\",\"FRIDAY\"],\"status\":\"ACTIVE\",\"createAt\":\"\
                    2023-01-13T10:03:07.458423\"}},\"message\":\"성공\",\"code\":\"\
                    success\"}"
  /api/v1/habits/{id}:
    get:
      tags:
      - Habit
      summary: "습관 상세정보 API (나의 기록 - 상세기록에서 특정 습관 정보 확인 시 사용, 습관 삭제 시 어떤 모달을 띄울지 판\
        별하기 위해서도 사용합니다.)"
      description: "todayHabitAchievementId 가 null인 경우 오늘 수행한 기록이 없는 경우. totalAchievementCount\
        \ 를 통해 그동안 수행한 기록이 있는지 판별하고, mate가 null인지 아닌지로 짝꿍 여부를 판별할 수 있습니다."
      operationId: readHabit
      parameters:
      - name: id
        in: path
        description: 습관 id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HabitResponse'
              examples:
                readHabit:
                  value: "{\"data\":{\"id\":0,\"memberId\":0,\"title\":\"물마셔...\"\
                    ,\"imojiPath\":\"\\uD83D\\uDE00\",\"color\":\"GREEN\",\"dayOfWeeks\"\
                    :[\"MONDAY\",\"TUESDAY\",\"FRIDAY\"],\"reward\":1,\"sequence\"\
                    :0,\"status\":\"ACTIVE\",\"totalAchievementCount\":0,\"todayHabitAchievementId\"\
                    :0,\"createAt\":\"2023-01-13T10:02:57.521979\",\"archiveAt\":\"\
                    2023-01-13T10:02:57.521982\",\"mate\":{\"id\":0,\"habitId\":0,\"\
                    memberId\":0,\"title\":\"짝꿍이\",\"createAt\":\"2023-01-13T10:02:57.521884\"\
                    ,\"level\":0,\"reward\":0,\"levelUpAt\":\"2023-01-13T10:02:57.521948\"\
                    ,\"characterType\":\"CARROT\",\"levelUpSection\":[1,4,8,14,22],\"\
                    bubble\":\"5252! 믿고 있었다구~ 오늘도 파이팅\",\"status\":\"ACTIVE\",\"rewardHistory\"\
                    :[{\"createAt\":\"2023-01-13T10:02:57.521891\"}]},\"notification\"\
                    :{\"notificationTime\":\"10:02:57.521959\",\"contents\":\"물마셔어\
                    어어어억\"}},\"message\":\"성공\",\"code\":\"success\"}"
    put:
      tags:
      - Habit
      summary: 습관 수정시 사용되는 API
      description: 습관 수정시 사용되는 API
      operationId: updateHabit
      parameters:
      - name: id
        in: path
        description: 습관 id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHabitRequest'
            examples:
              updateHabit:
                value: "{\"title\":\"물물\",\"imojiPath\":\"imoji\",\"color\":\"red\"\
                  ,\"dayOfWeeks\":[\"MONDAY\"],\"notification\":{\"notificationTime\"\
                  :\"10:02:57.056813\",\"contents\":\"알림\"}}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HabitResponse'
              examples:
                updateHabit:
                  value: "{\"data\":{\"id\":0,\"memberId\":0,\"title\":\"물마셔...\"\
                    ,\"imojiPath\":\"\\uD83D\\uDE00\",\"color\":\"GREEN\",\"dayOfWeeks\"\
                    :[\"MONDAY\",\"TUESDAY\",\"FRIDAY\"],\"reward\":1,\"sequence\"\
                    :0,\"status\":\"ACTIVE\",\"totalAchievementCount\":0,\"todayHabitAchievementId\"\
                    :0,\"createAt\":\"2023-01-13T10:02:57.052802\",\"archiveAt\":\"\
                    2023-01-13T10:02:57.052806\",\"mate\":{\"id\":0,\"habitId\":0,\"\
                    memberId\":0,\"title\":\"짝꿍이\",\"createAt\":\"2023-01-13T10:02:57.052736\"\
                    ,\"level\":0,\"reward\":0,\"levelUpAt\":\"2023-01-13T10:02:57.05275\"\
                    ,\"characterType\":\"CARROT\",\"levelUpSection\":[1,4,8,14,22],\"\
                    bubble\":\"5252! 믿고 있었다구~ 오늘도 파이팅\",\"status\":\"ACTIVE\",\"rewardHistory\"\
                    :[{\"createAt\":\"2023-01-13T10:02:57.052745\"}]},\"notification\"\
                    :{\"notificationTime\":\"10:02:57.052768\",\"contents\":\"물마셔어\
                    어어어억\"}},\"message\":\"성공\",\"code\":\"success\"}"
    delete:
      tags:
      - Habit
      summary: 습관 삭제 API
      description: 습관 삭제 API
      operationId: deleteHabit
      parameters:
      - name: id
        in: path
        description: 습관 id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-habits-id486549215'
              examples:
                deleteHabit:
                  value: "{\"data\":null,\"message\":\"삭제되었습니다.\",\"code\":\"resource.deleted\"\
                    }"
  /api/v1/members/consents:
    patch:
      tags:
      - Member
      summary: 알림설정 변경
      description: 알림설정 변경
      operationId: patchConsents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberNotificationConsentUpdateRequest'
            examples:
              patchConsents:
                value: "{\"notificationConsent\":false}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              examples:
                patchConsents:
                  value: "{\"data\":{\"id\":0,\"name\":\"admin\",\"certificationSubject\"\
                    :\"KAKAO\",\"status\":\"REGULAR\",\"notificationConsent\":false,\"\
                    resource\":{}},\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/members/logout:
    post:
      tags:
      - Member
      summary: 로그아웃
      description: 로그아웃
      operationId: logout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteClientSchema'
            examples:
              logout:
                value: "{\"identificationKey\":\"identificationKey\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api-v1-habits-id486549215'
              examples:
                logout:
                  value: "{\"data\":null,\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/members/me:
    get:
      tags:
      - Member
      summary: 내 정보 조회
      description: 내 정보 조회
      operationId: GetMember
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              examples:
                GetMember:
                  value: "{\"data\":{\"id\":0,\"name\":\"admin\",\"certificationSubject\"\
                    :\"KAKAO\",\"status\":\"REGULAR\",\"notificationConsent\":false,\"\
                    resource\":{}},\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/members/name:
    patch:
      tags:
      - Member
      summary: 닉네임 변경
      description: 닉네임 변경
      operationId: patchName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberNameUpdateRequest'
            examples:
              patchName:
                value: "{\"name\":\"new name\"}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              examples:
                patchName:
                  value: "{\"data\":{\"id\":0,\"name\":\"new name\",\"certificationSubject\"\
                    :\"KAKAO\",\"status\":\"REGULAR\",\"notificationConsent\":false,\"\
                    resource\":{}},\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/members/resources:
    patch:
      tags:
      - Member
      summary: 사용자 정보 업데이트
      description: 사용자 정보 업데이트
      operationId: patchResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberResourceUpdateRequest'
            examples:
              patchResources:
                value: "{\"resource\":{}}"
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              examples:
                patchResources:
                  value: "{\"data\":{\"id\":0,\"name\":\"admin\",\"certificationSubject\"\
                    :\"KAKAO\",\"status\":\"REGULAR\",\"notificationConsent\":true,\"\
                    resource\":{}},\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/members/tokens:
    post:
      tags:
      - Member
      summary: 토큰 갱신
      description: 토큰 갱신
      operationId: get Tokens
      parameters:
      - name: X-THREE-DAYS-REFRESH-TOKEN
        in: header
        description: put refreshToken here
        required: true
        schema:
          type: string
        example: refreshToken here
      responses:
        "201":
          description: "201"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
              examples:
                get Tokens:
                  value: "{\"data\":{\"accessToken\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzM4NCJ9.eyJtZW1iZXJJZCI6MSwiaWF0IjoxNjcwNTc4MzAzLCJleHAiOjE2NzI3MjU3ODZ9._eQlJYPHHaruePkVFvA6vD8zy2qj9dNLjtI0rCCQ5jLBia5Xiz5QouSRdtawHkUF\"\
                    ,\"refreshToken\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtZW1iZXJJZCI6MSwiaWF0IjoxNjY5Nzc4NjQwLCJleHAiOjE2NzAwNTEwNzN9.qRYwNldwTJCBdcRa13zm9At-NKTnqM6K8FQzsnUHcPY\"\
                    },\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/notifications/global:
    post:
      tags:
      - Notification
      summary: 전체 알림 발송 API
      description: 전체 알림 발송 API
      operationId: globalNotification
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationBatchResponse'
              examples:
                globalNotification:
                  value: "{\"data\":[{\"title\":\"title\",\"content\":\"content\"\
                    ,\"messageResponse\":[{\"responses\":[{\"messageId\":\"messageId\"\
                    ,\"exception\":{\"cause\":null,\"stackTrace\":[{\"classLoaderName\"\
                    :null,\"moduleName\":\"java.base\",\"moduleVersion\":\"16.0.1\"\
                    ,\"methodName\":\"newInstance0\",\"fileName\":\"NativeConstructorAccessorImpl.java\"\
                    ,\"lineNumber\":-2,\"nativeMethod\":true,\"className\":\"jdk.internal.reflect.NativeConstructorAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"newInstance\",\"fileName\":\"NativeConstructorAccessorImpl.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.NativeConstructorAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"newInstance\",\"fileName\":\"DelegatingConstructorAccessorImpl.java\"\
                    ,\"lineNumber\":45,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingConstructorAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"newInstanceWithCaller\",\"fileName\"\
                    :\"Constructor.java\",\"lineNumber\":499,\"nativeMethod\":false,\"\
                    className\":\"java.lang.reflect.Constructor\"},{\"classLoaderName\"\
                    :null,\"moduleName\":\"java.base\",\"moduleVersion\":\"16.0.1\"\
                    ,\"methodName\":\"newInstance\",\"fileName\":\"Constructor.java\"\
                    ,\"lineNumber\":480,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Constructor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"CachedConstructor.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.reflection.CachedConstructor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"callConstructor\",\"fileName\":\"ConstructorSite.java\"\
                    ,\"lineNumber\":108,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.callsite.ConstructorSite$ConstructorSiteNoUnwrapNoCoerce\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"defaultCallConstructor\",\"fileName\":\"\
                    CallSiteArray.java\",\"lineNumber\":57,\"nativeMethod\":false,\"\
                    className\":\"org.codehaus.groovy.runtime.callsite.CallSiteArray\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"callConstructor\",\"fileName\":\"AbstractCallSite.java\"\
                    ,\"lineNumber\":263,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.callsite.AbstractCallSite\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"callConstructor\",\"fileName\":\"AbstractCallSite.java\"\
                    ,\"lineNumber\":286,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.callsite.AbstractCallSite\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"getResponses\",\"fileName\":\"CustomSchema.groovy\"\
                    ,\"lineNumber\":258,\"nativeMethod\":false,\"className\":\"com.depromeet.threedays.front.web.controller.docs.CustomSchema$1\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke0\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":-2,\"nativeMethod\":true,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"DelegatingMethodAccessorImpl.java\"\
                    ,\"lineNumber\":43,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"Method.java\"\
                    ,\"lineNumber\":567,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Method\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeAsField\",\"fileName\":\"BeanPropertyWriter.java\"\
                    ,\"lineNumber\":689,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanPropertyWriter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeFields\",\"fileName\":\"BeanSerializerBase.java\"\
                    ,\"lineNumber\":774,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.std.BeanSerializerBase\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"BeanSerializer.java\"\
                    ,\"lineNumber\":178,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeContents\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":119,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":79,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":18,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeAsField\",\"fileName\":\"BeanPropertyWriter.java\"\
                    ,\"lineNumber\":728,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanPropertyWriter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeFields\",\"fileName\":\"BeanSerializerBase.java\"\
                    ,\"lineNumber\":774,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.std.BeanSerializerBase\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"BeanSerializer.java\"\
                    ,\"lineNumber\":178,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeContents\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":119,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":79,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":18,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeAsField\",\"fileName\":\"BeanPropertyWriter.java\"\
                    ,\"lineNumber\":728,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanPropertyWriter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeFields\",\"fileName\":\"BeanSerializerBase.java\"\
                    ,\"lineNumber\":774,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.std.BeanSerializerBase\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"BeanSerializer.java\"\
                    ,\"lineNumber\":178,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"_serialize\",\"fileName\":\"DefaultSerializerProvider.java\"\
                    ,\"lineNumber\":480,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.DefaultSerializerProvider\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeValue\",\"fileName\":\"DefaultSerializerProvider.java\"\
                    ,\"lineNumber\":319,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.DefaultSerializerProvider\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"ObjectWriter.java\"\
                    ,\"lineNumber\":1518,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ObjectWriter$Prefetch\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"writeValue\",\"fileName\":\"ObjectWriter.java\"\
                    ,\"lineNumber\":1007,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ObjectWriter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"writeInternal\",\"fileName\":\"AbstractJackson2HttpMessageConverter.java\"\
                    ,\"lineNumber\":456,\"nativeMethod\":false,\"className\":\"org.springframework.http.converter.json.AbstractJackson2HttpMessageConverter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"write\",\"fileName\":\"AbstractGenericHttpMessageConverter.java\"\
                    ,\"lineNumber\":104,\"nativeMethod\":false,\"className\":\"org.springframework.http.converter.AbstractGenericHttpMessageConverter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"writeWithMessageConverters\",\"fileName\"\
                    :\"AbstractMessageConverterMethodProcessor.java\",\"lineNumber\"\
                    :290,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.AbstractMessageConverterMethodProcessor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handleReturnValue\",\"fileName\":\"HttpEntityMethodProcessor.java\"\
                    ,\"lineNumber\":219,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.HttpEntityMethodProcessor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handleReturnValue\",\"fileName\":\"HandlerMethodReturnValueHandlerComposite.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"org.springframework.web.method.support.HandlerMethodReturnValueHandlerComposite\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeAndHandle\",\"fileName\":\"ServletInvocableHandlerMethod.java\"\
                    ,\"lineNumber\":135,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeHandlerMethod\",\"fileName\":\"RequestMappingHandlerAdapter.java\"\
                    ,\"lineNumber\":895,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handleInternal\",\"fileName\":\"RequestMappingHandlerAdapter.java\"\
                    ,\"lineNumber\":808,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handle\",\"fileName\":\"AbstractHandlerMethodAdapter.java\"\
                    ,\"lineNumber\":87,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.AbstractHandlerMethodAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doDispatch\",\"fileName\":\"DispatcherServlet.java\"\
                    ,\"lineNumber\":1071,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.DispatcherServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doService\",\"fileName\":\"DispatcherServlet.java\"\
                    ,\"lineNumber\":964,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.DispatcherServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"processRequest\",\"fileName\":\"FrameworkServlet.java\"\
                    ,\"lineNumber\":1006,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.FrameworkServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doPost\",\"fileName\":\"FrameworkServlet.java\"\
                    ,\"lineNumber\":909,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.FrameworkServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"HttpServlet.java\"\
                    ,\"lineNumber\":665,\"nativeMethod\":false,\"className\":\"javax.servlet.http.HttpServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"FrameworkServlet.java\"\
                    ,\"lineNumber\":883,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.FrameworkServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"TestDispatcherServlet.java\"\
                    ,\"lineNumber\":72,\"nativeMethod\":false,\"className\":\"org.springframework.test.web.servlet.TestDispatcherServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"HttpServlet.java\"\
                    ,\"lineNumber\":750,\"nativeMethod\":false,\"className\":\"javax.servlet.http.HttpServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doFilter\",\"fileName\":\"MockFilterChain.java\"\
                    ,\"lineNumber\":167,\"nativeMethod\":false,\"className\":\"org.springframework.mock.web.MockFilterChain$ServletFilterProxy\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doFilter\",\"fileName\":\"MockFilterChain.java\"\
                    ,\"lineNumber\":134,\"nativeMethod\":false,\"className\":\"org.springframework.mock.web.MockFilterChain\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"perform\",\"fileName\":\"MockMvc.java\"\
                    ,\"lineNumber\":201,\"nativeMethod\":false,\"className\":\"org.springframework.test.web.servlet.MockMvc\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":null,\"lineNumber\"\
                    :-1,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.GeneratedMethodAccessor206\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"DelegatingMethodAccessorImpl.java\"\
                    ,\"lineNumber\":43,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"Method.java\"\
                    ,\"lineNumber\":567,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Method\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"CachedMethod.java\"\
                    ,\"lineNumber\":343,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.reflection.CachedMethod\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doMethodInvoke\",\"fileName\":\"MetaMethod.java\"\
                    ,\"lineNumber\":328,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaMethod\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doInvokeMethod\",\"fileName\":\"MetaClassImpl.java\"\
                    ,\"lineNumber\":1371,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaClassImpl\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"MetaClassImpl.java\"\
                    ,\"lineNumber\":1103,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaClassImpl\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"MetaClassImpl.java\"\
                    ,\"lineNumber\":1009,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaClassImpl\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokePojoMethod\",\"fileName\":\"InvokerHelper.java\"\
                    ,\"lineNumber\":598,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.InvokerHelper\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"InvokerHelper.java\"\
                    ,\"lineNumber\":589,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.InvokerHelper\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethodN\",\"fileName\":\"ScriptBytecodeAdapter.java\"\
                    ,\"lineNumber\":182,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.ScriptBytecodeAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"$spock_feature_1_0\",\"fileName\":\"NotificationControllerDocsSpec.groovy\"\
                    ,\"lineNumber\":52,\"nativeMethod\":false,\"className\":\"com.depromeet.threedays.front.web.controller.docs.NotificationControllerDocsSpec\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke0\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":-2,\"nativeMethod\":true,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"DelegatingMethodAccessorImpl.java\"\
                    ,\"lineNumber\":43,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"Method.java\"\
                    ,\"lineNumber\":567,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Method\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"ReflectionUtil.java\"\
                    ,\"lineNumber\":187,\"nativeMethod\":false,\"className\":\"org.spockframework.util.ReflectionUtil\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$new$0\",\"fileName\":\"MethodInfo.java\"\
                    ,\"lineNumber\":49,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.model.MethodInfo\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"MethodInfo.java\"\
                    ,\"lineNumber\":156,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.model.MethodInfo\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeRaw\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":407,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":390,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"runFeatureMethod\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":324,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"IterationNode.java\"\
                    ,\"lineNumber\":50,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.IterationNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"SimpleFeatureNode.java\"\
                    ,\"lineNumber\":58,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SimpleFeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"SimpleFeatureNode.java\"\
                    ,\"lineNumber\":15,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SimpleFeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$6\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":151,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"ThrowableCollector.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.ThrowableCollector\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$8\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":141,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"sneakyInvoke\",\"fileName\":\"SpockNode.java\"\
                    ,\"lineNumber\":40,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SpockNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$around$0\",\"fileName\":\"IterationNode.java\"\
                    ,\"lineNumber\":67,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.IterationNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$createMethodInfoForDoRunIteration$5\"\
                    ,\"fileName\":\"PlatformSpecRunner.java\",\"lineNumber\":236,\"\
                    nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"MethodInfo.java\"\
                    ,\"lineNumber\":156,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.model.MethodInfo\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeRaw\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":407,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":390,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"runIteration\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":218,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"around\",\"fileName\":\"IterationNode.java\"\
                    ,\"lineNumber\":67,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.IterationNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$around$0\",\"fileName\":\"SimpleFeatureNode.java\"\
                    ,\"lineNumber\":52,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SimpleFeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"sneakyInvoke\",\"fileName\":\"SpockNode.java\"\
                    ,\"lineNumber\":40,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SpockNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$around$0\",\"fileName\":\"FeatureNode.java\"\
                    ,\"lineNumber\":41,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.FeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$createMethodInfoForDoRunFeature$4\"\
                    ,\"fileName\":\"PlatformSpecRunner.java\",\"lineNumber\":199,\"\
                    nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"MethodInfo.java\"\
                    ,\"lineNumber\":156,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.model.MethodInfo\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeRaw\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":407,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":390,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"runFeature\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":192,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"around\",\"fileName\":\"FeatureNode.java\"\
                    ,\"lineNumber\":41,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.FeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"around\",\"fileName\":\"SimpleFeatureNode.java\"\
                    ,\"lineNumber\":52,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SimpleFeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"around\",\"fileName\":\"SimpleFeatureNode.java\"\
                    ,\"lineNumber\":15,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SimpleFeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$9\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":139,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"ThrowableCollector.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.ThrowableCollector\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"executeRecursively\",\"fileName\":\"NodeTestTask.java\"\
                    ,\"lineNumber\":138,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"NodeTestTask.java\"\
                    ,\"lineNumber\":95,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"forEach\",\"fileName\":\"ArrayList.java\"\
                    ,\"lineNumber\":1511,\"nativeMethod\":false,\"className\":\"java.util.ArrayList\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeAll\",\"fileName\":\"SameThreadHierarchicalTestExecutorService.java\"\
                    ,\"lineNumber\":41,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.SameThreadHierarchicalTestExecutorService\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$6\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":155,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"ThrowableCollector.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.ThrowableCollector\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$8\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":141,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"sneakyInvoke\",\"fileName\":\"SpockNode.java\"\
                    ,\"lineNumber\":40,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SpockNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$around$0\",\"fileName\":\"SpecNode.java\"\
                    ,\"lineNumber\":63,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SpecNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$createMethodInfoForDoRunSpec$0\"\
                    ,\"fileName\":\"PlatformSpecRunner.java\",\"lineNumber\":61,\"\
                    nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"MethodInfo.java\"\
                    ,\"lineNumber\":156,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.model.MethodInfo\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeRaw\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":407,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":390,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"runSpec\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":55,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"around\",\"fileName\":\"SpecNode.java\"\
                    ,\"lineNumber\":63,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SpecNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"around\",\"fileName\":\"SpecNode.java\"\
                    ,\"lineNumber\":11,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SpecNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$9\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":139,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"ThrowableCollector.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.ThrowableCollector\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"executeRecursively\",\"fileName\":\"NodeTestTask.java\"\
                    ,\"lineNumber\":138,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"NodeTestTask.java\"\
                    ,\"lineNumber\":95,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"forEach\",\"fileName\":\"ArrayList.java\"\
                    ,\"lineNumber\":1511,\"nativeMethod\":false,\"className\":\"java.util.ArrayList\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeAll\",\"fileName\":\"SameThreadHierarchicalTestExecutorService.java\"\
                    ,\"lineNumber\":41,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.SameThreadHierarchicalTestExecutorService\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$6\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":155,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"ThrowableCollector.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.ThrowableCollector\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$8\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":141,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"around\",\"fileName\":\"Node.java\",\"\
                    lineNumber\":137,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.Node\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$9\",\"fileName\"\
                    :\"NodeTestTask.java\",\"lineNumber\":139,\"nativeMethod\":false,\"\
                    className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"ThrowableCollector.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.ThrowableCollector\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"executeRecursively\",\"fileName\":\"NodeTestTask.java\"\
                    ,\"lineNumber\":138,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"NodeTestTask.java\"\
                    ,\"lineNumber\":95,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.NodeTestTask\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"submit\",\"fileName\":\"SameThreadHierarchicalTestExecutorService.java\"\
                    ,\"lineNumber\":35,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.SameThreadHierarchicalTestExecutorService\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"HierarchicalTestExecutor.java\"\
                    ,\"lineNumber\":57,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.HierarchicalTestExecutor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"HierarchicalTestEngine.java\"\
                    ,\"lineNumber\":54,\"nativeMethod\":false,\"className\":\"org.junit.platform.engine.support.hierarchical.HierarchicalTestEngine\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"EngineExecutionOrchestrator.java\"\
                    ,\"lineNumber\":107,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.EngineExecutionOrchestrator\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"EngineExecutionOrchestrator.java\"\
                    ,\"lineNumber\":88,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.EngineExecutionOrchestrator\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$execute$0\",\"fileName\":\"EngineExecutionOrchestrator.java\"\
                    ,\"lineNumber\":54,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.EngineExecutionOrchestrator\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"withInterceptedStreams\",\"fileName\":\"\
                    EngineExecutionOrchestrator.java\",\"lineNumber\":67,\"nativeMethod\"\
                    :false,\"className\":\"org.junit.platform.launcher.core.EngineExecutionOrchestrator\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"EngineExecutionOrchestrator.java\"\
                    ,\"lineNumber\":52,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.EngineExecutionOrchestrator\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"DefaultLauncher.java\"\
                    ,\"lineNumber\":114,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.DefaultLauncher\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"DefaultLauncher.java\"\
                    ,\"lineNumber\":86,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.DefaultLauncher\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"DefaultLauncherSession.java\"\
                    ,\"lineNumber\":86,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.DefaultLauncherSession$DelegatingLauncher\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"SessionPerRequestLauncher.java\"\
                    ,\"lineNumber\":53,\"nativeMethod\":false,\"className\":\"org.junit.platform.launcher.core.SessionPerRequestLauncher\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"processAllTestClasses\",\"fileName\":\"\
                    JUnitPlatformTestClassProcessor.java\",\"lineNumber\":99,\"nativeMethod\"\
                    :false,\"className\":\"org.gradle.api.internal.tasks.testing.junitplatform.JUnitPlatformTestClassProcessor$CollectAllTestClassesExecutor\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"access$000\",\"fileName\":\"JUnitPlatformTestClassProcessor.java\"\
                    ,\"lineNumber\":79,\"nativeMethod\":false,\"className\":\"org.gradle.api.internal.tasks.testing.junitplatform.JUnitPlatformTestClassProcessor$CollectAllTestClassesExecutor\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"stop\",\"fileName\":\"JUnitPlatformTestClassProcessor.java\"\
                    ,\"lineNumber\":75,\"nativeMethod\":false,\"className\":\"org.gradle.api.internal.tasks.testing.junitplatform.JUnitPlatformTestClassProcessor\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"stop\",\"fileName\":\"SuiteTestClassProcessor.java\"\
                    ,\"lineNumber\":61,\"nativeMethod\":false,\"className\":\"org.gradle.api.internal.tasks.testing.SuiteTestClassProcessor\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke0\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":-2,\"nativeMethod\":true,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"DelegatingMethodAccessorImpl.java\"\
                    ,\"lineNumber\":43,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"Method.java\"\
                    ,\"lineNumber\":567,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Method\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"dispatch\",\"fileName\":\"ReflectionDispatch.java\"\
                    ,\"lineNumber\":36,\"nativeMethod\":false,\"className\":\"org.gradle.internal.dispatch.ReflectionDispatch\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"dispatch\",\"fileName\":\"ReflectionDispatch.java\"\
                    ,\"lineNumber\":24,\"nativeMethod\":false,\"className\":\"org.gradle.internal.dispatch.ReflectionDispatch\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"dispatch\",\"fileName\":\"ContextClassLoaderDispatch.java\"\
                    ,\"lineNumber\":33,\"nativeMethod\":false,\"className\":\"org.gradle.internal.dispatch.ContextClassLoaderDispatch\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"ProxyDispatchAdapter.java\"\
                    ,\"lineNumber\":94,\"nativeMethod\":false,\"className\":\"org.gradle.internal.dispatch.ProxyDispatchAdapter$DispatchingInvocationHandler\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"jdk.proxy1\",\"moduleVersion\"\
                    :null,\"methodName\":\"stop\",\"fileName\":null,\"lineNumber\"\
                    :-1,\"nativeMethod\":false,\"className\":\"jdk.proxy1.$Proxy2\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"run\",\"fileName\":\"TestWorker.java\"\
                    ,\"lineNumber\":193,\"nativeMethod\":false,\"className\":\"org.gradle.api.internal.tasks.testing.worker.TestWorker$3\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"executeAndMaintainThreadName\",\"fileName\"\
                    :\"TestWorker.java\",\"lineNumber\":129,\"nativeMethod\":false,\"\
                    className\":\"org.gradle.api.internal.tasks.testing.worker.TestWorker\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"TestWorker.java\"\
                    ,\"lineNumber\":100,\"nativeMethod\":false,\"className\":\"org.gradle.api.internal.tasks.testing.worker.TestWorker\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"TestWorker.java\"\
                    ,\"lineNumber\":60,\"nativeMethod\":false,\"className\":\"org.gradle.api.internal.tasks.testing.worker.TestWorker\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"ActionExecutionWorker.java\"\
                    ,\"lineNumber\":56,\"nativeMethod\":false,\"className\":\"org.gradle.process.internal.worker.child.ActionExecutionWorker\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"call\",\"fileName\":\"SystemApplicationClassLoaderWorker.java\"\
                    ,\"lineNumber\":133,\"nativeMethod\":false,\"className\":\"org.gradle.process.internal.worker.child.SystemApplicationClassLoaderWorker\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"call\",\"fileName\":\"SystemApplicationClassLoaderWorker.java\"\
                    ,\"lineNumber\":71,\"nativeMethod\":false,\"className\":\"org.gradle.process.internal.worker.child.SystemApplicationClassLoaderWorker\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"run\",\"fileName\":\"GradleWorkerMain.java\"\
                    ,\"lineNumber\":69,\"nativeMethod\":false,\"className\":\"worker.org.gradle.process.internal.worker.GradleWorkerMain\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"main\",\"fileName\":\"GradleWorkerMain.java\"\
                    ,\"lineNumber\":74,\"nativeMethod\":false,\"className\":\"worker.org.gradle.process.internal.worker.GradleWorkerMain\"\
                    }],\"errorCode\":\"ABORTED\",\"httpResponse\":null,\"messagingErrorCode\"\
                    :null,\"message\":\"message\",\"suppressed\":[],\"localizedMessage\"\
                    :\"message\"},\"successful\":true}],\"failureCount\":1,\"successCount\"\
                    :1}]}],\"message\":\"성공\",\"code\":\"success\"}"
  /api/v1/notifications/habit:
    post:
      tags:
      - Notification
      summary: 습관 알림 발송 API
      description: 습관 알림 발송 API
      operationId: habitNotification
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponse'
              examples:
                habitNotification:
                  value: "{\"data\":[{\"responses\":[{\"messageId\":\"messageId\"\
                    ,\"exception\":{\"cause\":null,\"stackTrace\":[{\"classLoaderName\"\
                    :null,\"moduleName\":\"java.base\",\"moduleVersion\":\"16.0.1\"\
                    ,\"methodName\":\"newInstance0\",\"fileName\":\"NativeConstructorAccessorImpl.java\"\
                    ,\"lineNumber\":-2,\"nativeMethod\":true,\"className\":\"jdk.internal.reflect.NativeConstructorAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"newInstance\",\"fileName\":\"NativeConstructorAccessorImpl.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.NativeConstructorAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"newInstance\",\"fileName\":\"DelegatingConstructorAccessorImpl.java\"\
                    ,\"lineNumber\":45,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingConstructorAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"newInstanceWithCaller\",\"fileName\"\
                    :\"Constructor.java\",\"lineNumber\":499,\"nativeMethod\":false,\"\
                    className\":\"java.lang.reflect.Constructor\"},{\"classLoaderName\"\
                    :null,\"moduleName\":\"java.base\",\"moduleVersion\":\"16.0.1\"\
                    ,\"methodName\":\"newInstance\",\"fileName\":\"Constructor.java\"\
                    ,\"lineNumber\":480,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Constructor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"CachedConstructor.java\"\
                    ,\"lineNumber\":73,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.reflection.CachedConstructor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"callConstructor\",\"fileName\":\"ConstructorSite.java\"\
                    ,\"lineNumber\":108,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.callsite.ConstructorSite$ConstructorSiteNoUnwrapNoCoerce\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"defaultCallConstructor\",\"fileName\":\"\
                    CallSiteArray.java\",\"lineNumber\":57,\"nativeMethod\":false,\"\
                    className\":\"org.codehaus.groovy.runtime.callsite.CallSiteArray\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"callConstructor\",\"fileName\":\"AbstractCallSite.java\"\
                    ,\"lineNumber\":263,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.callsite.AbstractCallSite\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"callConstructor\",\"fileName\":\"AbstractCallSite.java\"\
                    ,\"lineNumber\":286,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.callsite.AbstractCallSite\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"getResponses\",\"fileName\":\"CustomSchema.groovy\"\
                    ,\"lineNumber\":283,\"nativeMethod\":false,\"className\":\"com.depromeet.threedays.front.web.controller.docs.CustomSchema$2\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke0\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":-2,\"nativeMethod\":true,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"DelegatingMethodAccessorImpl.java\"\
                    ,\"lineNumber\":43,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"Method.java\"\
                    ,\"lineNumber\":567,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Method\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeAsField\",\"fileName\":\"BeanPropertyWriter.java\"\
                    ,\"lineNumber\":689,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanPropertyWriter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeFields\",\"fileName\":\"BeanSerializerBase.java\"\
                    ,\"lineNumber\":774,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.std.BeanSerializerBase\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"BeanSerializer.java\"\
                    ,\"lineNumber\":178,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeContents\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":119,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":79,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"IndexedListSerializer.java\"\
                    ,\"lineNumber\":18,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.impl.IndexedListSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeAsField\",\"fileName\":\"BeanPropertyWriter.java\"\
                    ,\"lineNumber\":728,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanPropertyWriter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeFields\",\"fileName\":\"BeanSerializerBase.java\"\
                    ,\"lineNumber\":774,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.std.BeanSerializerBase\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"BeanSerializer.java\"\
                    ,\"lineNumber\":178,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.BeanSerializer\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"_serialize\",\"fileName\":\"DefaultSerializerProvider.java\"\
                    ,\"lineNumber\":480,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.DefaultSerializerProvider\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serializeValue\",\"fileName\":\"DefaultSerializerProvider.java\"\
                    ,\"lineNumber\":319,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ser.DefaultSerializerProvider\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"serialize\",\"fileName\":\"ObjectWriter.java\"\
                    ,\"lineNumber\":1518,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ObjectWriter$Prefetch\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"writeValue\",\"fileName\":\"ObjectWriter.java\"\
                    ,\"lineNumber\":1007,\"nativeMethod\":false,\"className\":\"com.fasterxml.jackson.databind.ObjectWriter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"writeInternal\",\"fileName\":\"AbstractJackson2HttpMessageConverter.java\"\
                    ,\"lineNumber\":456,\"nativeMethod\":false,\"className\":\"org.springframework.http.converter.json.AbstractJackson2HttpMessageConverter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"write\",\"fileName\":\"AbstractGenericHttpMessageConverter.java\"\
                    ,\"lineNumber\":104,\"nativeMethod\":false,\"className\":\"org.springframework.http.converter.AbstractGenericHttpMessageConverter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"writeWithMessageConverters\",\"fileName\"\
                    :\"AbstractMessageConverterMethodProcessor.java\",\"lineNumber\"\
                    :290,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.AbstractMessageConverterMethodProcessor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handleReturnValue\",\"fileName\":\"HttpEntityMethodProcessor.java\"\
                    ,\"lineNumber\":219,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.HttpEntityMethodProcessor\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handleReturnValue\",\"fileName\":\"HandlerMethodReturnValueHandlerComposite.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"org.springframework.web.method.support.HandlerMethodReturnValueHandlerComposite\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeAndHandle\",\"fileName\":\"ServletInvocableHandlerMethod.java\"\
                    ,\"lineNumber\":135,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeHandlerMethod\",\"fileName\":\"RequestMappingHandlerAdapter.java\"\
                    ,\"lineNumber\":895,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handleInternal\",\"fileName\":\"RequestMappingHandlerAdapter.java\"\
                    ,\"lineNumber\":808,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"handle\",\"fileName\":\"AbstractHandlerMethodAdapter.java\"\
                    ,\"lineNumber\":87,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.mvc.method.AbstractHandlerMethodAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doDispatch\",\"fileName\":\"DispatcherServlet.java\"\
                    ,\"lineNumber\":1071,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.DispatcherServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doService\",\"fileName\":\"DispatcherServlet.java\"\
                    ,\"lineNumber\":964,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.DispatcherServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"processRequest\",\"fileName\":\"FrameworkServlet.java\"\
                    ,\"lineNumber\":1006,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.FrameworkServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doPost\",\"fileName\":\"FrameworkServlet.java\"\
                    ,\"lineNumber\":909,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.FrameworkServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"HttpServlet.java\"\
                    ,\"lineNumber\":665,\"nativeMethod\":false,\"className\":\"javax.servlet.http.HttpServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"FrameworkServlet.java\"\
                    ,\"lineNumber\":883,\"nativeMethod\":false,\"className\":\"org.springframework.web.servlet.FrameworkServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"TestDispatcherServlet.java\"\
                    ,\"lineNumber\":72,\"nativeMethod\":false,\"className\":\"org.springframework.test.web.servlet.TestDispatcherServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"service\",\"fileName\":\"HttpServlet.java\"\
                    ,\"lineNumber\":750,\"nativeMethod\":false,\"className\":\"javax.servlet.http.HttpServlet\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doFilter\",\"fileName\":\"MockFilterChain.java\"\
                    ,\"lineNumber\":167,\"nativeMethod\":false,\"className\":\"org.springframework.mock.web.MockFilterChain$ServletFilterProxy\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doFilter\",\"fileName\":\"MockFilterChain.java\"\
                    ,\"lineNumber\":134,\"nativeMethod\":false,\"className\":\"org.springframework.mock.web.MockFilterChain\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"perform\",\"fileName\":\"MockMvc.java\"\
                    ,\"lineNumber\":201,\"nativeMethod\":false,\"className\":\"org.springframework.test.web.servlet.MockMvc\"\
                    },{\"classLoaderName\":null,\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":null,\"lineNumber\"\
                    :-1,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.GeneratedMethodAccessor206\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"DelegatingMethodAccessorImpl.java\"\
                    ,\"lineNumber\":43,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"Method.java\"\
                    ,\"lineNumber\":567,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Method\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"CachedMethod.java\"\
                    ,\"lineNumber\":343,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.reflection.CachedMethod\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doMethodInvoke\",\"fileName\":\"MetaMethod.java\"\
                    ,\"lineNumber\":328,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaMethod\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"doInvokeMethod\",\"fileName\":\"MetaClassImpl.java\"\
                    ,\"lineNumber\":1371,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaClassImpl\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"MetaClassImpl.java\"\
                    ,\"lineNumber\":1103,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaClassImpl\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"MetaClassImpl.java\"\
                    ,\"lineNumber\":1009,\"nativeMethod\":false,\"className\":\"groovy.lang.MetaClassImpl\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokePojoMethod\",\"fileName\":\"InvokerHelper.java\"\
                    ,\"lineNumber\":598,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.InvokerHelper\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"InvokerHelper.java\"\
                    ,\"lineNumber\":589,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.InvokerHelper\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethodN\",\"fileName\":\"ScriptBytecodeAdapter.java\"\
                    ,\"lineNumber\":182,\"nativeMethod\":false,\"className\":\"org.codehaus.groovy.runtime.ScriptBytecodeAdapter\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"$spock_feature_1_1\",\"fileName\":\"NotificationControllerDocsSpec.groovy\"\
                    ,\"lineNumber\":70,\"nativeMethod\":false,\"className\":\"com.depromeet.threedays.front.web.controller.docs.NotificationControllerDocsSpec\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke0\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":-2,\"nativeMethod\":true,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"NativeMethodAccessorImpl.java\"\
                    ,\"lineNumber\":78,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.NativeMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"DelegatingMethodAccessorImpl.java\"\
                    ,\"lineNumber\":43,\"nativeMethod\":false,\"className\":\"jdk.internal.reflect.DelegatingMethodAccessorImpl\"\
                    },{\"classLoaderName\":null,\"moduleName\":\"java.base\",\"moduleVersion\"\
                    :\"16.0.1\",\"methodName\":\"invoke\",\"fileName\":\"Method.java\"\
                    ,\"lineNumber\":567,\"nativeMethod\":false,\"className\":\"java.lang.reflect.Method\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeMethod\",\"fileName\":\"ReflectionUtil.java\"\
                    ,\"lineNumber\":187,\"nativeMethod\":false,\"className\":\"org.spockframework.util.ReflectionUtil\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$new$0\",\"fileName\":\"MethodInfo.java\"\
                    ,\"lineNumber\":49,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.model.MethodInfo\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"MethodInfo.java\"\
                    ,\"lineNumber\":156,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.model.MethodInfo\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invokeRaw\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":407,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"invoke\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":390,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"runFeatureMethod\",\"fileName\":\"PlatformSpecRunner.java\"\
                    ,\"lineNumber\":324,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.PlatformSpecRunner\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"IterationNode.java\"\
                    ,\"lineNumber\":50,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.IterationNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"SimpleFeatureNode.java\"\
                    ,\"lineNumber\":58,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SimpleFeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"execute\",\"fileName\":\"SimpleFeatureNode.java\"\
                    ,\"lineNumber\":15,\"nativeMethod\":false,\"className\":\"org.spockframework.runtime.SimpleFeatureNode\"\
                    },{\"classLoaderName\":\"app\",\"moduleName\":null,\"moduleVersion\"\
                    :null,\"methodName\":\"lambda$executeRecursively$6\",\"fileName\"\
[...]
